.App-header {
  background-color: black;
  height: 80px;
  padding: 25px;
  padding-right: 40%;
  padding-left: 5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-header>h1 {
  color: blue;
}

.App-header a {
  color: unset;
  text-decoration: none;
}

.App-intro {
  font-size: 25px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

form {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 82%;
}