.question-view {
  display: flex;
  flex-direction: row;
}

.categories-list {
  flex-basis: 25%;
  flex-shrink: 2;
  padding: 0 1rem;
}

.categories-list>ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.categories-list>form {
  width: 60%;
}

.questions-list {
  flex-basis: 75%;
  text-align: center;
}

.question-container {
  padding: 10px 20px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  text-align: left;
  margin: 7px;
}

.question-status {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 200px;
  align-items: center;
  justify-content: space-between;
}

.question {
  font-size: 21px;
  width: 100%;
}

.answer {
  height: 25px;
  margin: 5px 0px;
}

.show-answer {
  width: 100px;
  margin-top: 5px;
  background-color: dodgerblue;
  color: white;
  padding: 3px 5px;
  margin-left: 0px !important;
}

span.page-num {
  margin: 5px;
  padding-bottom: 50px;
  /* color: blue; */
  font-weight: bolder;
  text-decoration: underline;
  font-size: 16px;
}

span.page-num.active {
  color: blue;
}

img.cate {
  width: 22px;
  margin-left: 1rem;
}

img.delete {
  width: 20px;
}

.category {
  width: 20px;
}