.quiz-play-container {
  width: 80%;
  margin-top: 45px;
  margin-left: 12%;
  text-align: center;
}

.category-wrapper {
  margin-top: 20px;
  font-size: 25px;
}

.cate-selection {
  font-weight: bold;
  font-size: 37px;
}

.btn {
  cursor: pointer;
  align-self: center;
  margin-top: 10px;
  border-radius: 6px;
  padding: 0.25rem 1rem;
  background-color: blue;
  color: white;
}

div.btn {
  margin-top: 25px;
  margin-left: calc(50% - 40px);
}

.quiz-play-cate {
  cursor: pointer;
}

.quiz-play-cate:hover {
  color: blue;
}

.quiz-play-question {
  margin: 15px;
  font-size: 25px;
}

.correct-answer {
  color: rgb(89, 163, 89);
}

.wrong-answer {
  color: rgb(70, 2, 2);
}